@media screen and (max-width:600px) { /*Para tela de ceular*/
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
    
}

@media screen and (min-width:1000px) { /*Muda o tamanho do texto para telas maiores*/
    .descricao{
        width: 70%;
    }
    
}